* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #b4b88f;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #758067;
  text-align: center;
}

li {
  display: inline;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
}

li a:hover {
  background-color: #37382c;
  scale: 1.2;
}

#first_section h1 {
  font-family: "Monoton", cursive;
  font-size: 5em;
  text-align: center;
  color: #b4b88f;
}

h2 {
  font-family: "Stint Ultra Condensed", cursive;
  font-size: 3em;
  text-align: center;
  margin-top: 7%;
}

p {
  font-family: "Slabo 27px", serif;
  text-align: center;
  font-size: 1.5em;
}

#images img {
  width: 100%;
  height: auto;
  max-width: 1200px;
}

#images {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#images .Portræt {
  max-width: 100%;
  max-height: auto;
  grid-column: 2/2;
  grid-row: 2/2;
}

#images .Højformat {
  max-width: 100%;
  max-height: auto;
  grid-column: 1/2;
  grid-row: 2/2;
}

#images .Bredformat {
  max-width: 100%;
  max-height: auto;
  grid-column: 1/4;
  grid-row: 3/3;
}

#first_section {
  background-image: url(Stilbilleder/Baggrundsbillede.webp);
  width: 100%;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: center cover;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
}

iframe {
  width: 80%;
  height: auto;
  aspect-ratio: 16/9;
  display: block;
  margin: auto;
  margin-block: 50px;
}

video {
  width: 80%;
  height: auto;
  aspect-ratio: 16/9;
  display: block;
  margin: auto;
  margin-block: 50px;
}

#Layoutdiagram {
  left: 30%;
  position: absolute;
}

footer {
  font-family: "Stint Ultra Condensed", cursive;
  font-size: 2em;
}
